@mixin sizes($width, $height, $fontsize) {
    height: $height;
    width: $width;
    font-size: $fontsize;
}

// Dato en recuadro con color negro (es para probar).

.datos{
    @include sizes(50px, 50px, 145%);
    background-color: $negro;
    color: $amarillo;
    margin-top: 30px;
}