.fondo-inicio {
    background-image: url(../assets/taylor\ swift\ fondo\ inicio.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-contacto {
    background-image: url(../assets/taylor\ swift\ fondo\ contacto.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoNegro{
    background-color: $negro;
    color: $negro;
}

.fondo-merch{
    background-image: url(../assets/taylor\ swift\ fondo\ merch\ .jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}