.footer {
    display: flex;
    justify-content: flex-end;
    background-color:$amarillo;
    color:$negro;
    padding: 10px;

    ul li{
        list-style: none; 
        color: $amarillo;
        display: inline-block;
        padding: 05px; 
        margin: 05px;
        font-size: 125%;

        .botones{
            @extend %botones;
            }
        }
    }