.titulo-galeria{
    margin-left: 20px;
    padding-top: 30px;
    color: $amarillo;
}

.carrusel{
    display: flex;
    justify-content: center;
}

.section-galeria{
    background-color: $amarillo;
    padding: 10px;
    margin: 10px;
    margin-top: 150px;

    .article-galeria{
        padding: 10px;
        margin: 10px;
        font-size: 130%;
        font-weight:bolder;
    }
}