.fondo-inicio {
    background-image: url(../assets/taylor\ swift\ fondo\ inicio.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}